.input {
  max-height: 350px;
}

.input--mode-black {
  background-color: var(--gray-100-gray-700);
  border: 1px solid transparent;

  &:focus {
    border: 1px solid var(--ref-color-twilight300);
    background: var(--ref-color-twilight900);
  }

  &::placeholder {
    font-weight: 600;
  }
}
