.navbar__link-item {
  width: 100%;
  cursor: pointer;
  
  &.active {
    color: var(--ref-color-twilight300);
    background-color: var(--color-text-blacklight);
  }

  &:hover {
    color: var(--ref-color-twilight300);
    background-color: var(--color-text-blacklight);
  }

  &:not(:first-child) {
    margin-top: 8px;
  }
}
