:root {
  --width-modal-folder-creation: 650px;
}

.modal__folder-creation {
  padding: 32px;
  width: var(--width-modal-folder-creation);
  background-color: var(--ref-color-twilight900);
  color: white;
  border-radius: 5px;
}
