.login__social-btn {
  font-size: 1.6rem;
  color: var(--gray-300-gray-600);
  transition: background-color 0.13s linear;
  cursor: pointer;

  &:hover {
    background-color: var(--ref-color-twilight200);
  }
}
