* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'HurmeGeometricSans', sans-serif;

  font-weight: 400;
  line-height: 1.6;
}

@font-face {
  font-family: 'HurmeGeometricSans';
  src: url('/public/font/HurmeGeometricSans1.otf') format('opentype');
  font-weight: 400;
  line-height: 1.6;
}

@font-face {
  font-family: 'HurmeGeometricSans';
  src: url('/public/font/HurmeGeometricSans1-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'HurmeGeometricSans';
  src: url('/public/font/HurmeGeometricSans1-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

#root {
  overflow: hidden;
}

a {
  text-decoration: none;
}
