.popper-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  background-color: var(--color-primary-sub);
  box-shadow: var(--shadow-dark-slightly);
  transition: all 0.3s linear;
  z-index: 99;

  &--hidden {
    display: none;
  }
}
