$maxHeight: 31.25rem;

.profile__popper {
  position: absolute;
  top: 110%;
  right: -10px;

  /* Active */
  &.hidden {
    display: none;
  }
  
  &.active {
    display: flex;
  }

  border-radius: 5px;
  border: 1px solid var(--gray-300-gray-600);
  min-height: fit-content;
  max-height: 31.25rem;
  box-shadow: unset;

  &-header {
    padding: 1rem 1rem 1.5rem 1rem;
    display: flex;
    align-items: center;
    color: white;
    border-bottom: 1px solid var(--gray-300-gray-600);
  }

  &-link {
    color: white;
    color: var(--gray-400-gray-600);
    justify-content: start;
    border: unset;

    &:hover {
      background-color: var(--gray-300-gray-600);
      transition: 0ms ease;
    }
  }
}

.logout-btn {
  color: white;
  padding: 8px 14px;
  justify-content: start;
  font-size: 1.2rem;
  border: none;
  border-top: 1px solid var(--gray-300-gray-600);

  &:hover {
    background-color: var(--gray-300-gray-600);
    transition: 0ms ease;
  }
}
