:root {
  --color-primary: rgba(66, 85, 255, 1);
  --color-primary-sub: rgba(10, 9, 45, 1);
  --color-text-blacklight: #282e3e;

  --color-white: #f6f7fb;
  --color-white-gray: #d9dde8;
  --border-color: #7583ff;

  --ref-bg-color-error: #fff6ef;

  --gray-100-gray-700: #2e3856;
  --gray-200-gray-900: #1a1d28;
  --gray-300-gray-600: #586380;
  --gray-400-gray-600: #d9dde8;
  --gray-700-gray-500: #939bb4;

  --ref-color-purple: rgba(227, 114, 255, 1);
  --ref-color-error: #b00020;
  --ref-color-twilight100: #edefff;
  --ref-color-twilight200: #dbdfff;
  --ref-color-twilight300: #a8b1ff;
  --ref-color-twilight400: #7583ff;
  --ref-color-twilight500: #4255ff;
  --ref-color-twilight600: #423ed8;
  --ref-color-twilight700: #1f1c8b;
  --ref-color-twilight800: #14125c;
  --ref-color-twilight900: #0a092d;

  --twilight-100-gray-600: #586380;

  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --shadow-dark-slightly: 0px 1px 4px rgba(0, 0, 0, 0.12);
}
