@use "../../../sass/base/animations" as *;

.multiple-selection {
  // position: relative;

  &__options-wrapper {
  }

  &__options-item {
    border-bottom: 1px solid var(--ref-color-twilight100);
    align-items: center;

    @include fadeIn($fadeMiddle: 0.7, $duration: 0.3s, $from: -50px);
  }
}

.multiple-selection__options-checkbox {
  /*
  * Hide the default checkbox
  */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}

/* Style when checked */
.multiple-selection__options-checkbox {
  /* Hide the default checkbox */
  position: relative;

  &.form--mode-black {
    border: 1px solid var(--ref-color-twilight300);
  }
}

/* Style when checked */
.multiple-selection__options-checkbox:checked {
  &.form--mode-black {
    background-color: var(--color-primary-sub);
    border: 1px solid var(--ref-color-twilight300);
  }
}

.multiple-selection__options:focus,
.multiple-selection__options:active {
  &.form--mode-black {
    background-color: #fff;
    border: 1px solid var(--ref-color-twilight300);
  }
}

/* Custom checkmark */
.multiple-selection__options-checkbox:checked::after {
  content: "\2713"; /* Unicode for checkmark */
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Optional: Hover effect */
.multiple-selection__options-checkbox:hover {
  border-color: #555;
}
