:root {
  --width-flashcard-separate-column: 1.5px;
}

.flashcard__term-container {
  display: flex;
  align-items: center;

  color: white;
  font-size: 1.4rem;
  padding: 20px 24px;
  background-color: var(--gray-100-gray-700);
  border-radius: 5px;
  height: fit-content;
}

.flashcard__term-question {
  flex: 1;
  max-width: 120px;

  border-right: var(--width-flashcard-separate-column) solid
    var(--gray-200-gray-900);
}

.flashcard__term-answer {
  flex: 2;
  padding-left: 24px;
  border-left: var(--width-flashcard-separate-column) solid
    var(--gray-200-gray-900);
}
